    <md-content>
      <md-list>
          <md-list-item ng-repeat="ques in questions track by $index">
            <md-card ng-init="ques.attempted=false;ques.correctAns=false">
              <md-card-content>
                <div>
                  {{$index+1}} . {{ques.question}}
                </div>
                <div>
                  <md-radio-group ng-model="ques.givenans" ng-change="change($index,ques.givenans,ques.subject)">
                    <div ng-repeat="opt in ques.options track by $index" ng-value="optNo=$index">
                      <input type="radio" name="gender"value={{ques.options[optNo]}} class="md-primary" ng-disabled="ques.attempted"> {{optNo+1}}. {{ques.options[optNo]}}<br>
                      <!-- <md-radio-button value={{ques.options[optNo]}} class="md-primary" ng-disabled="ques.attempted">{{optNo+1}}. {{ques.options[optNo]}}</md-radio-button>
                    </div> -->
                  </md-radio-group>
                </div>

                <p ng-if="ques.attempted"> Selected Option: <span class="radioValue">{{ques.givenans}}</span>
                  <md-divider></md-divider>
                  <div ng-if ="ques.correctAns">
                        Your answer is correct !!
                  </div>
                  <div ng-if ="!ques.correctAns && ques.attempted">
                        Your answer is incorrect !!<br>
                        Correct Option: {{ques.answer}}
                  </div>
                </p>

              </md-card-content>
            </md-card>

          </md-list-item>
      </md-list>
    </md-content>
  </div>
