<h1 id="projectName">SkillArena</h1>

<div  class="col-lg-5 col-md-5 " id="login">
  <h4> Login </h4>
  <form method="post">
    <input type="email" id="input" class="col-lg-12 col-md-12 " placeholder="Email Address" ng-model="user.email">
    <input type="password" id="input" class="col-lg-12 col-md-12 "  placeholder="Password"  ng-model="user.password">
    <input type="submit" id="input" class="col-lg-12 col-md-12 "  value="Login" ng-click="login()">
  </form>
</div>

<div  class=" col-lg-2 col-md-2">
  <hr class="vertical">
</div>

<div class="  col-lg-5 col-md-5 " id="signUp">
  <h4  > Sign Up </h4>
  <input type="submit" id="input" class="col-lg-12 col-md-12 "  value="Sign Up" ng-click="signUpPage()">
</div>
