<div ng-controller="resetCtrl">
  <h1 id="projectName">SkillArena</h1>

  <div  class="col-lg-5 col-md-5 " id="login">
    <h4>Reset Password</h4>
    <h3>{{msg}}</h3>
    <form method="post">
      <input type="password" id="input" class="col-lg-12 col-md-12 "  placeholder="Password"  ng-model="user.password">
      <input type="password" id="input" class="col-lg-12 col-md-12 "  placeholder="Confirm Password"  ng-model="user.confirmPassword">
      <input type="submit" id="input" class="col-lg-12 col-md-12 "  value="Reset" ng-click="resetPassword(user)">
    </form>
  </div>

</div>
